
.info {
  color: #182153;
  font-weight: bold;
  div {
    margin-top: 20px;
    h1 {
      margin-top: -10px;
      font-size: 24px;
      font-weight: normal;
    }
    span {
      font-weight: normal;
    }
  }
}