@tailwind base;
@tailwind components;
@tailwind utilities;



@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
:root,

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .3s;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}



/*Scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightblue;
  border-radius: 5px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00B8D4;
  border-radius: 5px;
}

//Animated name
.name {
  text-align: center;
  width: 180px;
  color: #ffffff;
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #182153 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 25px;
  text-decoration: none;
  white-space: nowrap;

  @keyframes shine {
  0% {background-position:0} 100%{ background-position: 180px}
  }
}

.name_edu {
  letter-spacing: 2px;
}
